<%- include('../_partial/_header.ejs'); -%>
<%- include('../_partial/_leftMenu.ejs'); -%>

<h1 class="title text-center pt-5">Biography Page</h1>

<p class="p p-5 fs-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum et quisquam aut laudantium voluptas, enim assumenda natus, esse aliquam praesentium dignissimos neque. Nam, doloremque est. Qui accusantium distinctio natus iste!</p>

<%- include('../_partial/_rightMenu.ejs'); -%>                    
<%- include('../_partial/_footer.ejs'); -%>