<%- include('../_partial/_headerLogin.ejs'); -%>

    <div class="container" style="height: 87vh;">
        <div class="row">
            <div class="col-sm-12">

                <div class="card text-bg-light mt-3 ms-5 me-5 d-flex" style="max-width: 60%;">
                    <div class="card-header pe-4">
                        <h3>Sign Up</h3>
                    </div>
                    <div class="card-body">

                        <form class="form-signin" method="POST" action="/signup">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@</span>
                                <input type="text" class="form-control" placeholder="Username" name="username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@</span>
                                <input type="email" class="form-control" placeholder="Email address" name="email"
                                    aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                                        aria-hidden="true"></span></span>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                                        aria-hidden="true"></span></span>
                                <input type="password" class="form-control" placeholder="Re-password"
                                    aria-describedby="basic-addon1" name="repassword">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success navbar-btn" value="Sign Up">Sign Up</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

    <%- include('../_partial/_footer.ejs'); -%>