<div class="row left-menu grid">
    <div class="col-sm-2 mh-100">
        <div class="d-flex flex-column h-100">
            <div class="row">
                <picture class="h-1000 d-inline-block ">
                    <a href="/"><img src="https://res.cloudinary.com/dnglop3wa/image/upload/v1666118898/profile_tbquel.png"
                        class="mt-5 img-fluid img-thumbnail rounded-4 profile-photo p-0 border-0"
                        alt="Profile photo"></a>
                </picture>
                <h3 class="title text-center mt-3 principal-name text-white-50">Lucila Kim</h3>
                <p class="p text-center phrase text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="row flex-fill">
                <div class="col-12 d-flex justify-content-center pt-5">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active text-white-50" aria-current="page" href="/biography">Biography</a>
                            </li>

                            <a class="nav-link text-white-50" href="#">Works</a>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white-50" href="/articles?page=1">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

                    <!-- Posts -->
                    <div class="col-sm-8 grid">     
                        <div class="row p-3">