</div>
</div>



<!-- Right Sidebar -->
<div class="col-sm-2 grid">
    <div class="row mt-4 p-2">
        <h4 class="title text-white-50">Relevant links</h4>
        <ul class="list-group list-group-flush">
            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">
                <li class="list-group-item text-white-50"> > HTML </li>
            </a>
            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
            <li class="list-group-item text-white-50"> > CSS </li></a>
            <a href="https://getbootstrap.com/"> <li class="list-group-item text-white-50"> > Bootstrap </li></a>
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
            <li class="list-group-item text-white-50"> > JavaScript </li></a>
            <a href="https://nodejs.org/es/" target="_blank"><li class="list-group-item text-white-50"> > Node.js </li></a>
            <a href="https://www.npmjs.com/"> <li class="list-group-item text-white-50"> > NPM </li></a>
            <a href="https://www.mongodb.com/"> <li class="list-group-item text-white-50"> > MongoDB </li></a>
        </ul>
    </div>
    <hr class="line m-5">

    <div class="row p-3">
        <form action="">
            <label for="get-news" class="form-label text-white-50">Suscribe to News</label>
            <input type="email" id="get-news" class="form-control-suscribe" placeholder="email@gmail.com"
                aria-label="default input example" required>
            <button type="submit" class="btn btn-outline-success mt-2" data-bs-toggle="modal" data-bs-target="#myModal">Suscribe</button>
        </form>

        <!-- Suscribe Modal -->
        <div class="modal fade pt-5" id="myModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Thanks for suscribing!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, assumenda!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Acept</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <aside>
        <hr class="line m-5">
        <div class="row ">
            <div class="d-flex align-items-end">
                <picture class="mt-auto p-2">
                    <a href="http://www.educacionit.com/" target="_blank"><img src="/public/images/advertisment2.jpeg"
                        class="img-fluid img-thumbnail profile-photo" alt="advertisment"></a>
                </picture>
            </div>
        </div>
    </aside>
</div>



</div>